<header>
    <nav>
     <ul>
  <% if (!locals.accountData) { %>
    <li><a href="/account/login">My Account</a></li>
  <% } else { %>
    <li><a href="/account/manage">Welcome <%= locals.accountData.firstname %></a></li>
    <li><a href="/account/logout">Logout</a></li>
  <% } %>
</ul>

    </nav>
  </header>
  <ul>
    <% if (!locals.accountData) { %>
      <li><a href="/account/login">My Account</a></li>
    <% } else { %>
      <li><a href="/account/manage">Welcome <%= locals.accountData.firstname %></a></li>
      <li><a href="/account/logout">Logout</a></li>
    <% } %>
  </ul>
  