<h1>You're logged in</h1>
<p>Welcome to your account management page.</p>
<h1>Account Management</h1>
<h2>Welcome, <%= locals.account.first_name %></h2>

<% if (locals.account.account_type === "Employee" || locals.account.account_type === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inventory/manage">Manage Inventory</a></p>
<% } %>

<p><a href="/account/update/<%= locals.account.account_id %>">Update Account</a></p>
