<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Explore our collection of vehicles at our car dealership." />
  <meta name="author" content="Your Dealership Name" />
  <meta name="keywords" content="cars, vehicles, dealership, buy cars, car gallery" />
  <link rel="icon" href="/images/site/favicon-32x32.png" type="image/png" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Car Dealership</title>
</head>

  