<header>
  <div class="logo">
    <h1>CSE Motors</h1>
  </div>
  <nav>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/inventory">Vehicles</a></li>
        <li><a href="/contact">Contact</a></li>
        <% if (user) { %>
            <li><a href="/account">My Account</a></li>
            <li><a href="/account/logout">Logout</a></li> <!-- ✅ Fix logout link -->
        <% } else { %>
            <li><a href="/account/login">Login</a></li>
        <% } %>
    </ul>
</nav>


