<%- include('../partials/header.ejs') %>
<h1>Add Classification</h1>
<% if (messages.notice) { %>
    <p class="message"><%= messages.notice %></p>
<% } %>
<form action="/inventory/add-classification" method="POST">
    <label for="classification_name">Classification Name:</label>
    <input type="text" id="classification_name" name="classification_name" required>
    <button type="submit">Add</button>
</form>
<%- include('../partials/footer') %>
<%- include('../partials/footer.ejs') %>
