<%- include('../partials/header.ejs') %>
<h1>Inventory Management</h1>
<% if (messages.notice) { %>
  <p class="message"><%= messages.notice %></p>
<% } %>
<ul>
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>
<%- include('../partials/footer.ejs') %>
