<footer class="main-footer">
  <p>&copy; <%= new Date().getFullYear() %> CSE Motors. All rights reserved.</p>
  <p>Designed by Oluwaniyi Akinoladapo, Lagos, Nigeria.</p>
  <a href="/500">Trigger 500 Error</a>
</footer>

  